.widget-container {
    background-color: aqua;
}

.cold {
    background-color: rgb(72, 0, 255);
}

.normal {
    background-color: rgb(0, 255, 60);
}

.hot {
    background-color: rgb(255, 0, 43);
}

