* {margin: 0; padding: 0;}

.widget-container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // max-width: 1170px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 100vh;
}

svg {
  width: 150px;
  height: 150px;
}

.cold {
  // background-color: rgb(0, 217, 255);
  background: radial-gradient(circle at center, #cce4ff, #9b99ff)
}

.normal {
  background: radial-gradient(circle at center, #d0ffcc, #a5ff99)
}

.hot {
  background: radial-gradient(circle at center, #fffacc, #ddc660)
}