* {margin: 0; padding: 0;}

.widget-container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // max-width: 1170px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 100vh;
}

svg {
  width: 150px;
  height: 150px;
  margin-right: 30px;
}

.cold {
  background: radial-gradient(circle at center, #cce4ff, #9b99ff);
}

.normal {
  background: radial-gradient(circle at center, #d0ffcc, #a5ff99)
}

.hot {
  background: radial-gradient(circle at center, #fffacc, #ddc660)
}

.current-data p {
  font-size: 68px;
  margin-bottom: 10px;
}

.temperature-display {
  display: flex;
  justify-content: center;
  font-size: 150px;
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.temperature-icon {
  display: flex;
  align-items: center;
}

.button {
  font-size: 32px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: text-decoration 0.3s ease; /* Плавне переход при зміні стилю підкреслення */
  background-color: transparent; /* Прозорий фон */
}

.button:hover {
  text-decoration: underline;
}